*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.nav{
    background-image: url(./assets/images/book2.jfif) ;
    background-position: center;
    background-size: cover;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.nav , .nav-1 {
    display: flex;
    justify-content: space-between;
}
.nav h1{
    color: #fff;
    margin-top: 60px;
    margin-left: 80px;
    /* outline: 1px solid blue;
    flex-basis: 60%; */
}
.nav ul{
    display: flex;
    margin-top: 70px;
    /* outline: 1px solid blue;
    flex-basis: 40%; */

}
.nav ul li {
    list-style-type: none;
 margin-left: 30px;
    font-size: 20px;
}
.nav ul li a {
    text-decoration: none;
    color:white;
    font-weight:700;
}
.hamburger{
    display: none;
    cursor: pointer;
    margin-top: 45px;
    font-size: 40px;
    color: #fff;
    margin-right: -40px;
}

.nav-2 {
    border: 1px solid white;
    height: 200px;
    width: 450px;
    margin-bottom: 70px;
    margin-left: 80px;
    padding-left: 30px;
    padding-top: 20px; 
    font-size: 50px;
    color: #fff;
}
.list{
    margin-right: 80px;
}
.sec{
    background-color: #fff;
    height: 550px;
    width: 100%;
    position: relative;
}
.sec img {
    display: none;
}
.sec .next-text{
    display: none;
}
.sec-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./assets/images/book.jfif);
    background-repeat: no-repeat;
    background-size: 60%;
    height: 400px;
    width: 1300px;
}
.text{
    background-color: #fff;
    width: 50%;
    height: 50%;
    position: absolute;
    right: -20px;
    top: 50%;
    padding-left: 30px;
    padding-top: 30px;
}
.sec , .sec-2, .text p {
    text-align: left;
    font-weight: 100;
    /* font-size: 15px; */
}
.sec , .sec-2, .text , h2{
    margin-bottom: 20px;
    /* font-size: 20px; */
}
.see-more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    /* margin-top: -30px; */
}
.sec-3{
    background-color: #fff;
    height: max-content;
}
.see-more p{
    font-size: 20px;
    font-weight: 400;
}
.hidden-list{
    display: none;
}
.see-more button{
    background: transparent;
    border: 1px solid  black;
    height: 25px;
    width: 85px;
}
.gallery-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 30px;
}
.gallery{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
}
.gal-1{
    background-image: url(./assets/images/pg1.jfif);
    height: 250px;
    width:  250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 120px;
}
.gal-2{
    background-image: url(./assets/images/pg2.jfif);
    height: 250px;
    width:  250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 120px;
}
.gal-3{
    background-image: url(./assets/images/pg3.jfif);
    height: 250px;
    width:  250px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 120px;
}
.gal-4{
    background-image: url(./assets/images/pg4.jfif);
    height: 250px;
    width:  250px;
    background-size: cover;
    background-repeat: no-repeat;
}
.gal-1 p{
    margin-left: 90px;
    color: #fff;
    font-weight: 100;
    margin-top: 195px;
    text-align: left;
}
.gal-2 p{
    margin-left: 90px;
    color: #fff;
    font-weight: 100;
    margin-top: 195px;
    text-align: left;
}
.gal-3 p{
    margin-left: 90px;
    color: #fff;
    font-weight: 100;
    margin-top: 195px;
    text-align: left;
}
.gal-4 p{
    margin-left: 90px;
    color: #fff;
    font-weight: 100;
    margin-top: 195px;
    text-align: left;
}
#more{
    display: none;
}
.gallery-2{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    /* margin-bottom: 20px; */
}
.main{
    margin-bottom: 50px;
}
#more{
    margin-bottom: 50px;
}
.footer{
    background-color: black;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}
.top h1{
    margin-top: 30px;
    color: white;
}
.top ul {
    margin-top: 30px;
    display: flex;
    
}
.top ul li {
    margin-left: 20px;
    list-style-type: none;
}
.top ul li a {
    color: #fff;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 80px;
}
.bottom ul{
    display: flex;
}
.bottom ul li {
    list-style-type: none;
    margin-right: 30px;
}
.bottom ul li a {
    text-decoration: none;
    color: #fff;
}
.bottom , .all {
    color: #fff;
}
@media (max-width:500px) {
    body{
        /* background-color: black; */
        width: 97vw;
    }
    .main-wrap{
        margin: 0;
        background-color: white;
        width: 97vw;
    }
    .nav .nav-1 .list ul {
        display: none;
    }
    .nav .nav-1  h1{
        margin-left: 10px;
    }
    .nav{
        height: 500px;
    }
    .nav-2{
        width: 350px;
        font-size: 40px;
        height: 200px;
        margin-bottom: 100px;
        margin-left: 10%;
    }
    .sec{
        position: static;
        width: 97vw;
        display: flex;
        flex-direction: column;
    }
    .sec img{
        display: block;
        margin-top: 10%;
        margin-left: 40px;
    }
    .sec .next-text{
        display: block;
        margin-top: 5%;
        margin-left: 9%;
    }
    .sec-2 {
     display: none;
        /* margin-top: 90%; */
    }
    .text{
        display: none;
    }
    .gallery-container{
        display: flex;
        flex-direction: column;
        /* background-color: black; */
        width: 97vw;
    }
    .gallery{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-bottom: -40px;
    }
    .gal-1{
        margin-bottom: 50px;
        width: 400px;
    }
    .gal-2{
margin-bottom: 50px;
width: 400px;
    }
    .gal-3{
margin-bottom: 50px;
width: 400px;
    }
    .gal-4{
margin-bottom: 50px;
width: 400px;
    }
    .gallery-2{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-bottom: -40px;
        
    }
    .gallery p {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 700;
    }
    .gallery-2 p {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 700;
    }
    .footer{
        position: relative;
        width: 97vw;
        /* background-color: white; */
       
    }
    .top h1{
        margin-left: 25%;
    }
    .bottom .b-links{
        position: absolute;
        margin-left: 25%;
        top: 90px;
    }
    .bottom .b-links ul {
        display: flex;
        flex-direction: column;
    }
    .bottom .b-links ul li {
        margin-bottom: 10px;
        font-size: 18px;
        text-align: center;
    }
    .top{
        display: flex;
        flex-direction: column;
    }
    .top .icons{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: 9%;
        top: 250px;
        font-size: 30px;
    }
    .all{
        margin-left: 9%;
        margin-top: 250px;
    }
    .nav-1{
        position: relative;
    }
    .hamburger{
        display: block;
        position: relative;
        right: -30px;
        top: 10px;
    }
    .hidden-list {
        position: absolute;
        top: 100px;
        background-image: linear-gradient(to bottom right ,#553631,#FDD490);
        width: 483px;
        height: 350px;
    }
    .hidden-list ul{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }
    .hidden-list ul li:hover{
       background-color: #fff;
    }
    .hidden-list ul li {
        padding-top: 27px;
        margin: 0;
        /* margin-bottom: 10px; */
       /* background-color: blue;  */
       height: 40px;
       width: 480px;
       border-bottom: 1px solid black;
    }
    .hidden-list ul li a {
        margin-left: 200px;
        color: black;
    }
 
}